/** Reset **/
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'Maven Pro';
}

/** Fonte **/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

/* Container */
#index__container {
   display: grid;
   grid-template-areas:
     "nav nav nav"
     "slider slider slider"
     "noticias noticias noticias"
     "jogos-gratuitos jogos-gratuitos jogos-gratuitos"
     "descontos descontos descontos"
     "analises analises analises"
     "contato contato contato"
     "footer footer footer";

   grid-template-rows: 100px 12% auto auto auto auto auto 150px; 
   grid-template-columns: 20% 65% 15%;
   background-image: url("../images/background-image.png");
   background-repeat: no-repeat;
   background-size: cover;
}

section h1 {
   color: #8a01d4;
   font-weight: bold
}

section h2 {
   color: #8a01d4;
   font-weight: bold
}

section h4 {
   font-weight: bold
}

section#slider {
   grid-area: slider;     
}

section#noticias {
   grid-area: noticias;

}

section#jogos-gratuitos {
   grid-area: jogos-gratuitos;     
}

section#descontos {
    grid-area: descontos;
}

section#analises {
    grid-area: analises;
}

section#contato {
    grid-area: contato;
}

nav {
   width: 100%;
   height: 100px;
   padding: 10px;
   grid-area: nav;
   display: flex;
   align-items: center;
   position: fixed;
   font-weight: bold
}

.navbar__botao {
   display: none;
}

footer {
   grid-area: footer;
}

img {
   max-width: 100%;
   max-height: 100%;
}

/* Logo */
#logo {
   background-color: white;
   width: auto;
   height: auto;
}

/* Barra de Navegação e Menus */
#navbar {
   background-color: rgb(255, 255, 255);
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   margin: 0px 0px 2px 0px;
}

.navbar__itens {
   padding: 15px;
}
   
nav ul a {
   text-decoration: none;
    font-size: 13pt;
    padding: 20px;
    display: inline-block;
    font-weight: 700;
    color: #610094;
    border-bottom: 20px;
}

ul li {
   display: inline-block;
   color: #150050;
}

ul li:hover {
   border-bottom: 3px solid #150050;
   line-height: 10px;
   transition: 0.2s;
}

ul li:hover ul {
   display: block;
}

ul li ul {
   position: absolute;
   width: 125px;
   display: none;
}

ul li ul li {
   background-color: #610094;
   display: block;
}

ul li ul li a {
   display: block;
   color: white;
}

ul li ul li:hover {
   background-color: #150050;
}
/* Fim da Barra de Navegação e Menus */

/* Sociais */

/* Slider */
#slider {
   overflow: hidden;
}

#slider img{
   height: 100%;
   width: 100%;
}

#slider .slider__noticias {
   width: 500%;
   margin: 0px;
   animation-name: animacao;
   animation-duration: 20s;
   animation-iteration-count: infinite;
}

#slider .slider__noticias img {
   width: 1900px;
   height: 675px;
   background-repeat: no-repeat;
}

@keyframes animacao {
   0% { margin-left: 0; }
   20% { margin-left: 0%; }
   25% { margin-left: -100%; }
   45% { margin-left: -100%; }
   50% { margin-left: -200%; }
   70% { margin-left: -200%; }
   75% { margin-left: -300%; }
   95% { margin-left: -300%; }
   100% { margin-left: -400%; }
}

/* Últimas Noticias*/
.noticias__container {
   display: grid;
   grid-template-columns: repeat(3, 300px);
   grid-template-rows: repeat(2, 300px);
   padding: 20px;
   margin: 10px;
   line-height: 20px;
   font-size: 16px;
   justify-content: space-evenly;
   align-content: space-between;
}

.noticias__container div {
   margin: 10px;
   border-color: white;
   background-color: white;
   text-align: center;
}

.noticias__titulo {
   text-align: center;
   margin-top: 80px;
}

.noticias__titulo p {
   text-align: center;
   padding-top: 10px;
   color: white;
   font-size: 20px;
}

#todas-noticias {
   margin: 20px;
   align-items: center;
}

/* Jogos Gratuitos */
#jogos-gratuitos__titulo {
   color: #610094;
}

.jogos-gratuitos__container {
   display: grid;
   grid-template-columns: repeat(3, 300px);
   margin: 0 auto;
   justify-content: space-evenly;
   align-content: space-between;
}

.jogos-gratuitos__container div {
   margin: 20px;
   background-color: white;
   border-color: black;
   text-align: center;
}

.jogos-gratuitos__titulo {
   text-align: center;
   padding-top: 10px;
   color: white;
   font-size: 20px;
}

/* Descontos */
.descontos__container {
   display: grid;
   grid-template-columns: repeat(3, 300px);
   grid-template-rows: repeat(2, 300px);
   padding: 30px;
   margin: 0 auto;
   justify-content: space-evenly;
   align-content: space-between;
}

.descontos__container div {
   margin: 24px;
   border-color: white;
   background-color: white;
   text-align: center;
}

.descontos__titulo {
   text-align: center;
   padding-top: 10px;
   color: white;
   font-size: 20px;
}

/* Análises */
#analises {
   color: azure;
   padding: 10px;
}

.analises__titulo {
   text-align: center;
   padding-top: 10px;
   color: white;
   font-size: 20px;
}

.analises__destaques {
   display: grid;
   grid-template-columns: repeat(2, 30%);
   grid-template-rows: repeat(1, 300px);
   padding: 30px;
   grid-gap: 20px;
   justify-content: center;
}

.analises__destaques div h1 {
   padding: 20px;
}

.analises__destaques div p {
   padding: 20px;
}

.ultimas-analises {
   display: grid;
   grid-template-columns: repeat(3, 25%);
   grid-template-rows: repeat(1, 300px);
   padding: 30px;
   grid-gap: 20px;
   margin: 0 auto;
   justify-content: safe center;
}

/* Contato */
#contato {
   align-items: center;
}

#contato img {
   padding: 5px;
   border-radius: 10px;
}

.contato__dados {
   height: 200px;
   display: grid;
   grid-template-columns: repeat(2, 350px);
   justify-content: space-evenly;
   margin: 80px;
 }  

.contato__textos{
   display: flex;
   padding: 10px;
   flex-direction: column;
   justify-content: space-evenly;
}

.contato__textos h1 {
   color: white;
}

.contato__textos p {
   color: white;
}

.contato__textos h4 {
   color: white;
}


.contato__form {
   background-color: white;
   border-radius: 20px;
   display: flex;
   padding: 10px;
   justify-content: space-evenly;
   align-items: center;
   font-weight: bold
}


.btn {
   text-decoration: none;
   background-color: #150050;
   border: 1px solid #610094;
   border-radius: 80px;
   color: white;
   width: 120px;
   padding: 10px;
   margin: 10px;
   text-align: center;
   transition: 0.3s;
   font-weight: 700;
   font-size: 10pt;
   display: inline-block;
}

.btn:hover {
   background-color: #610094;
}


.btn2 {
   background-color: #150050;
   border: 1px solid #610094;
   border-radius: 10px;
   padding: 5px;
   color: white;
   transition: 0.3s;
}

.btn2:hover {
    background-color: #610094;
}

/* Rodape */
#footer {
   display: grid;
   align-items: center;
   grid-template-areas:
   "footer__itens footer__itens footer__itens footer__itens"
   "copyright copyright copyright copyright";
   grid-template-rows: 200px auto; 
   grid-template-columns: 25% 25% 25% 25%;
   background-color: #160652;
   color: aliceblue;
}

footer.footer__itens {
   grid-area: footer__itens;
}

footer.copyright {
   grid-area: copyright;
}

.footer__logo {
   text-align: center;
   padding:  10px;
   margin:  20px;
}

.footer__itens {
   padding:  25px;
   margin:  0px;
}

.footer__itens h2 {
   color: #8500cc;
}

#copyright {
   text-align: center;
   margin: auto;
   padding: 20px 16px 40px 16px;
   background-color: #160652;
   color: aliceblue;
}

hr {
   height: 1px;
  margin: 50px 0;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  border: 0;
 }
 
 hr:after {
   display: block;
   content: '';
   height: 30px;
   background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #2c0f6e), color-stop(100%, rgba(255, 255, 255, 0)));
   background-image: -webkit-radial-gradient(center top, farthest-side, #2c0f6e 0%, rgba(255, 255, 255, 0) 100%);
   background-image: -moz-radial-gradient(center top, farthest-side, #2c0f6e 0%, rgba(255, 255, 255, 0) 100%);
   background-image: -o-radial-gradient(center top, farthest-side, #2c0f6e 0%, rgba(255, 255, 255, 0) 100%);
   background-image: radial-gradient(farthest-side at center top, #2c0f6e 0%, rgba(255, 255, 255, 0) 100%);
 }


/* Responsivo */
@media (max-width: 1023px) {
   /* Geral */
      #index__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      background-image: url("../images/background-image.png");
      background-repeat: no-repeat;
      background-size: cover;
   }

   nav {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
   }

   #navbar {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      position: fixed;
      height: 130px;
   }

   .navbar__botao {
      display: block;
      padding: 20px;
   }

   .navbar__links {
      display: none;
      background-color: aliceblue;
      width: 200px;
      height: 80px;
      padding-top: 20px;
   }

   .navbar__sociais {
      display: none;
   }

   #slider {
      overflow: hidden;
   }

   #slider .slider__noticias {
      display: flex;
      flex-direction: row;
      margin: 0px;
   }

   #slider .slider__noticias img {
      max-width: 1600px;
      max-height: 650px;
      width: auto;
      height: auto;
      background-repeat: no-repeat;
   }

   .noticias__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 10px;
      margin: 0 auto;
   }

   .jogos-gratuitos__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: space-evenly;
      align-content: space-between;
   }

   .descontos__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 30px;
      margin: 0 auto;
      justify-content: space-evenly;
      align-content: space-between;
   }

   .ultimas-analises {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 30px;
      grid-gap: 20px;
      margin: 0 auto;
      justify-content: safe center;
   }

   .analises__destaques {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 30px;
      margin: 0 auto;
      grid-gap: 20px;
      justify-content: center;
   }

    .contato__dados {
      display: flex;
      flex-direction: column;
      margin: 200px 20px 390px 20px;
      padding: 15px;
   }

    #footer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background-color: #171247;
      color: aliceblue;
   }
 }